<div *ngIf="render">
    <mat-card class="example-card" >
        <mat-card-header>
        <div mat-card-avatar class="example-header-image" *ngIf="playerBio.people[0].active">
            <img mat-card-image src="https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/{{playerBio.people[0].currentTeam.id}}.svg">
        </div>
        <mat-card-title>{{playerBio.people[0].fullName}}</mat-card-title>
        <mat-card-subtitle>{{playerBio.people[0].primaryPosition.name}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="headshot"  src="https://cms.nhl.bamgrid.com/images/headshots/current/168x168/{{id}}.jpg">
        <mat-card-content>
            <p>{{playerBio.people[0].birthDate}} </p>
            <p *ngIf="playerBio.people[0].active"> {{playerBio.people[0].currentAge}} years old </p>            
            <p>{{playerBio.people[0].birthCity}} {{playerBio.people[0].birthStateProvince}} {{playerBio.people[0].birthCountry}}</p>
            <p>{{playerBio.people[0].nationality}}</p>
            <p>{{playerBio.people[0].height}} {{playerBio.people[0].weight}} lbs</p>
        </mat-card-content>
    </mat-card>
    <app-bar [label]="this.label" [labels]="this.labels" [dataValues]="this.values" [colors]="this.colors"></app-bar>
    <app-rink></app-rink>
</div>
  
