<form class="example-form" [formGroup]="myGroup">
    <mat-form-field >
        <mat-label>Year</mat-label>
        <mat-select formControlName="year" (selectionChange)="onSeasonChange()" >
          <mat-option [value]="'20222023'">2022-2023</mat-option>
          <mat-option [value]="'20222023'">2023-2024</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Player 1</mat-label>
      <input #playerInput type="text" matInput placeholder="Search for player" [formControl]="player1"  [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onSelect($event.option.value)">
        <mat-option *ngFor="let option of filteredOptions1 | async" [value]="option">{{option.PlayerName}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Player 2</mat-label>
        <input #playerInput type="text" matInput placeholder="Search for player" [formControl]="player2"  [matAutocomplete]="autoPlayer2">
        <mat-autocomplete #autoPlayer2="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onSelect($event.option.value)">
          <mat-option *ngFor="let option of filteredOptions2 | async" [value]="option">{{option.PlayerName}}</mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>

<h2>Player data is reprsented as a percentile rank of all players across a season.</h2>
<div *ngIf="this.player2Data && this.player1Data">
    <mat-card>
        <div class="row">
            <div class="column"style="float: left;">
                <h3 style="color: rgb(255, 99, 132);" >{{this.player1Data.PlayerName}}</h3>
                <img class="headshot"  src="https://assets.nhle.com/mugs/nhl/{{seasonControl.value}}/{{this.player1Data.TeamName}}/{{this.player1Data.playerid}}.png">
             </div>
             <div class="column" style="float: right;">
                <h3 style="color: rgb(54, 162, 235);">{{this.player2Data.PlayerName}}</h3>
                <img class="headshot"  src="https://assets.nhle.com/mugs/nhl/{{seasonControl.value}}/{{this.player2Data.TeamName}}/{{this.player2Data.playerid}}.png">
             </div>
        </div>
    </mat-card>
    <app-radar  [player1Data]="this.player1Data" [player2Data]="this.player2Data"></app-radar>
</div>
