<br>
<br>
<form class="example-form" [formGroup]="myForm">
    <mat-form-field class="example-full-width" >
        <mat-label>Year</mat-label>
        <mat-select (selectionChange)="changeClient($event.value)">
            <mat-option [value]="20222023">2022-2023</mat-option>
            <mat-option [value]="20232024">2023-2024</mat-option>
        </mat-select>
    </mat-form-field>
</form>


<div class="mat-elevation-z8" style="overflow-x:scroll;" >

    <table mat-table [dataSource]="this.dataSource" matSort matSortStart="desc">
        <ng-container matColumnDef="PlayerName" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header="Name">Name</th>
            <td mat-cell *matCellDef="let skater"> {{skater.PlayerName}} </td>
        </ng-container>
  
        <ng-container matColumnDef="GP" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Games Played</th>
            <td mat-cell  mat-cell *matCellDef="let skater"> {{skater.GP}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Genos" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Genos</th>
            <td mat-cell *matCellDef="let skater"> {{skater.Genos}} </td>
        </ng-container>

        <ng-container matColumnDef="Apples"  >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Apples</th>
            <td mat-cell *matCellDef="let skater"> {{skater.Apples}} </td>
        </ng-container>

        <ng-container matColumnDef="Points" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Points</th>
            <td  mat-cell *matCellDef="let skater" > {{skater.Points}} </td>
        </ng-container>
    
        <ng-container matColumnDef="xG">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>xG</th>
            <td mat-cell *matCellDef="let skater"> {{skater.xG}} </td>
        </ng-container>

        <ng-container matColumnDef="Shots" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Shots</th>
            <td mat-cell *matCellDef="let skater"> {{skater.Shots}} </td>
        </ng-container>

        <ng-container matColumnDef="Hits" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Hits</th>
            <td mat-cell *matCellDef="let skater"> {{skater.Hits}} </td>
        </ng-container>

        <ng-container matColumnDef="TOI" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>TOI</th>
            <td mat-cell *matCellDef="let skater"> {{skater.TOI}} </td>
        </ng-container>

        <ng-container matColumnDef="GWG" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>GWG</th>
            <td mat-cell *matCellDef="let skater"> {{skater.GWG}} </td>
        </ng-container>

        <ng-container matColumnDef="OTG" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>OTG</th>
            <td mat-cell *matCellDef="let skater"> {{skater.OTG}} </td>
        </ng-container>

        <ng-container matColumnDef="PenM" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Pen Mins</th>
            <td mat-cell *matCellDef="let skater"> {{skater.PenM}} </td>
        </ng-container>

        <ng-container matColumnDef="FOPCT" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>FO%</th>
            <td mat-cell *matCellDef="let skater"> {{skater.FOPCT}} </td>
        </ng-container>

        <ng-container matColumnDef="SPct" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>S%</th>
            <td mat-cell *matCellDef="let skater"> {{skater.SPct}} </td>
        </ng-container>

        <ng-container matColumnDef="Blocks" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Blocks</th>
            <td mat-cell *matCellDef="let skater"> {{skater.Blocks}} </td>
        </ng-container>

        <ng-container matColumnDef="PM" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>+/-</th>
            <td mat-cell *matCellDef="let skater"> {{skater.PM}} </td>
        </ng-container>

        <ng-container matColumnDef="shifts" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Shifts</th>
            <td mat-cell *matCellDef="let skater"> {{skater.shifts}} </td>
        </ng-container>

        <ng-container matColumnDef="PPG" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>PPG</th>
            <td mat-cell *matCellDef="let skater"> {{skater.PPG}} </td>
        </ng-container>

        <ng-container matColumnDef="PPP" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>PPP</th>
            <td mat-cell *matCellDef="let skater"> {{skater.PPP}} </td>
        </ng-container>

        <ng-container matColumnDef="PPTOI" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>PPTOI</th>
            <td mat-cell *matCellDef="let skater"> {{skater.PPTOI}} </td>
        </ng-container>

        <ng-container matColumnDef="SHG" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>SHG</th>
            <td mat-cell *matCellDef="let skater"> {{skater.SHG}} </td>
        </ng-container>

        <ng-container matColumnDef="SHP" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>SHP</th>
            <td mat-cell *matCellDef="let skater"> {{skater.SHP}} </td>
        </ng-container>

        <ng-container matColumnDef="SHTOI" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>SHTOI</th>
            <td mat-cell *matCellDef="let skater"> {{skater.SHTOI}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row class="mat-cell" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
</div>
<mat-paginator [pageSizeOptions]="[25,50,100]" showFirstLastButtons aria-label="Select page"></mat-paginator>
  