table {
  width: 100%;
}

.example-form {
    min-width: 150px;
    max-width: 100%;
    width: 100%;
  }

  .example-form-field {
    width: 200px;
  }
  
  .example-full-width {
    width: 100%;
  }

  .example-form {
    min-width: 150px;
    max-width: 100%;
    width: 100%;
  }

  .example-form-field {
    width: 200px;
  }
  
  .example-full-width {
    width: 100%;
  }

  .player-search-button {
    float: right
  }
  th.mat-sort-header-sorted {
    color: black;
  }

  .mat-cell:nth-child(even){
    background-color: #a8adef;
  }
  .mat-cell:nth-child(odd){
    background-color:#eca6a6;
  }

  table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }