<div class="main">
  <h1>Hockey Stats</h1>
  <nav>
    <div class="dropdown">
      <button class="dropbtn">
        Games
      </button>
      <div class="dropdown-content">
        <a href="#">Today</a>
        <a href="#">Older</a>
        <a href="#">Upcoming</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">
        Players
      </button>
      <div class="dropdown-content">
        <a href="#">Individual</a>
        <a href="#">Compare</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">
        Tables
      </button>
      <div class="dropdown-content">
        <a href="#">Standard</a>
        <a href="#">Advanced</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">
        About
      </button>
      <div class="dropdown-content">
        <a href="#">Reference</a>
        <a href="#">Author</a>
      </div>
    </div>
  </nav>
  <ul>
    <li *ngFor="let game of games">{{game.hometeam}} vs. {{game.awayteam}}</li>
  </ul>
</div>
