<div class="main">
  <h1>Hockey Stats</h1>
  <nav>
    <div class="dropdown">
      <button class="dropbtn">
        Games
      </button>
      <div class="dropdown-content">
        <a routerLink="/todaygames" routerLinkActive="active" ariaCurrentWhenActive="page">Today</a>
        <a routerLink="/historic"  routerLinkActive="active" ariaCurrentWhenActive="page">Past</a>
      </div>
      <br>
    </div>
    <div class="dropdown">
      <button class="dropbtn">
        Players
      </button>
      <div class="dropdown-content">
        <a routerLink="/players"  routerLinkActive="active" ariaCurrentWhenActive="page">Individual</a>
        <a href="#">Compare</a>
      </div>
      <br>
    </div>
    <div class="dropdown">
      <button class="dropbtn">
        Teams
      </button>
      <div class="dropdown-content">
        <a routerLink="/teams"  routerLinkActive="active" ariaCurrentWhenActive="page">Individual</a>
        <a routerLink="/compare-teams"  routerLinkActive="active" ariaCurrentWhenActive="page">Compare</a>
      </div>
      <br>
    </div>
    <div class="dropdown">
      <button class="dropbtn">
        Tables
      </button>
      <div class="dropdown-content">
        <a routerLink="/skaters"  routerLinkActive="active" ariaCurrentWhenActive="page">Skaters</a>
        <a href="#">Goalies</a>
      </div>
      <br>
    </div>
    <div class="dropdown">
      <button class="dropbtn">
        About
      </button>
      <div class="dropdown-content">
        <a href="#">Reference</a>
        <a href="#">Author</a>
        <br>
      </div>
    </div>
  </nav>
<br>
<br>
  <router-outlet></router-outlet>
</div>
