
<br>
<mat-card *ngFor="let game of games">
    <div class="row">
        <div class="column">
            <img mat-card-image  src="https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/{{game.teams.home.team.id}}.svg">
            <h1>{{game.teams.home.score}} </h1>
        </div>
        <div class="column">
            <img mat-card-image src="https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/{{game.teams.away.team.id}}.svg">
            <h1>{{game.teams.away.score}}</h1>
        </div>
    </div>
    <p>{{game.venue.name}}</p>
    <button mat-icon-button matSuffix (click)="onClick(game)">
        <mat-icon>forward icon</mat-icon>
    </button>
</mat-card>

<div>
    <ng-container *ngIf="game"> 
        <h3>{{this.game.gamePk}}</h3>
    </ng-container> 
</div>