mat-card{
    width: 100%;
}
.row {
    display: flex;
}

p{
    align-self: center;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 10px;
    align-items: end;
}

img{
    align-self: center;
    height: 150px;
    width: 150px;
}

button{
    align-self: center;
}


