.game{
    width: 100%;
    background-color: #b1b1b7;
}

.favored{
    background-color: #a8adef;
}
.not-favored{
    background-color:#eca6a6;
}
.row {
    display: flex;
}

h1,h2, h3, p{
    align-self: center;
}

.scoring{
    border: 2px;
    background-color: white;
    overflow-wrap: normal;
    min-width: 25%;
}

.container{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 10px;
    align-items: end;
    text-align: center;
}

img{
    align-self: center;
    height: 50%;
    width: 50%;
}

button{
    align-self: center;
}


