
<br>
<mat-card *ngFor="let game of games">
    <div class="row">
        <div class="column">
            <div class="favored">
                <img mat-card-image  src="https://assets.nhle.com/logos/nhl/svg/{{game.homeTeam.abbrev}}_light.svg">
                <h1>{{game.homeTeam.score}} </h1>
                <p>Predicted win probability:</p>
                <h1>40%</h1>
            </div>
        </div>
        <div class="column">
            <div class="not-favored">
                <img mat-card-image src="https://assets.nhle.com/logos/nhl/svg/{{game.awayTeam.abbrev}}_light.svg">
                <h1>{{game.awayTeam.score}}</h1>
                <p>Predicted win probability:</p>
                <h1>60%</h1>
            </div>
        </div>
    </div>
    <p>{{game.gameState}} {{ game.startTimeUTC | date :'short'}}</p>
    <p>{{game.venue}}</p>
    <button mat-icon-button matSuffix (click)="onClick(game)">
        <mat-icon>forward icon</mat-icon>
    </button>
    <p>Click to show details below.</p>
</mat-card>

<div>
    <ng-container *ngIf="game"> 
        <h3>{{this.game.id}}</h3>
    </ng-container> 
</div>