<br>
<br>
<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Player</mat-label>
      <input #playerInput type="text" matInput placeholder="Search for player" [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onSelect($event.option.value)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{option.PlayerName}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-icon-button matSuffix class="player-search-button" (click)="onClick($event)">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button matSuffix class="player-clear-button" (click)="playerInput.value=''">
      <mat-icon>clear</mat-icon>
    </button>
</form> 
<br>
<div>
  <app-player-card *ngIf="renderPlayer" [id]="player.PlayerId"></app-player-card>
</div>
  
  