<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="half-rink">
  <div class="side left"></div>
  <div class="side right"></div>
  <div class="bottom-curve"></div>
  <div class="goal-line"></div>
  <div class="half-rink">
  <div class="side left"></div>
  <div class="side right"></div>
  <div class="bottom-curve"></div>
  <div class="goal-line"></div>
  <div class="blue-line"></div>
  <div class="goal-net"></div>
  <div class="goal-crease"></div>
  <div class="pipe-line left"></div>
  <div class="pipe-line right"></div>
  <div class="faceoff-circle left">
        <div class="faceoff-dot"></div>
  </div>
  <div class="faceoff-circle right">
        <div class="faceoff-dot"></div>
  </div>
</div>
</div>
